
.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;
    margin-top: 25px;
    margin-bottom: 150px;
}
.landing-page .content{
    position: relative;
    margin-top: 100px;
}
.landing-page .content .background-image{
    position: absolute;
    z-index: 1;
    left: -140px;
    top: -100px;
    opacity: 0.1;
    transform: rotateZ(-20deg) scale(1.25);
    transition: all 250ms;
    animation: rotateIcon 20s linear infinite;
}
@keyframes rotateIcon {
    from{
        transform: rotateZ(-20deg) scale(1.25);
    }
    to{
        transform: rotateZ(340deg) scale(1.25);
    }
}
.landing-page .landing-image{
    position: relative;
}
.landing-page .landing-image .background-image{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    width: 50px;
}
.landing-page .landing-image img{
    width: 500px;
}

.landing-page .content .advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    margin-top: 50px;
}
.landing-page .content .advantages p{
    display: flex;
    align-items: center;
    margin: 0;
    color: var(--font-primary);
}
.landing-page .content .advantages p .bi-check{
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary);
    margin-right: 10px;
    line-height: 30px;
}

.info{
    margin-bottom: 100px;
}

.news{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
.news .navigation{
    display: flex;
    position: relative;
    align-items: center;
}
.news .navigation .left, .news .navigation .right{
    height: 150px;
    font-size: 25px;
    padding: 0 15px;
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.5), rgba(150, 150, 150, 0.5));
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 1px 3px var(--box-shadow);
    border: none;
    border-radius: 90px;
    position: absolute;
    color: var(--font-tertiary);
} 
.news .navigation .left:hover, .news .navigation .right:hover{
    background-color: rgba(255,255,255, 0.8);
    height: 100%;
    border-radius: 6px;
    padding: 0 25px;
}
.news .navigation .left{
    left: 10px;
}
.news .navigation .right{
    right: 10px;
}
.news .navigation .left:hover{
    left: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.news .navigation .right:hover{
    right: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.news .navigation .images{
    box-shadow: 0 1px 4px var(--box-shadow);
    border-radius: 6px;
    width: 1100px;
    height: 620px;
    overflow: hidden;
}
.news .navigation .images img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.news .content .text{
    padding: 25px 35px;
    background-color: var(--background0);
    box-shadow: 0 1px 4px var(--box-shadow);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    max-height: 400px;  
}
.news .content .more{
    background-color: var(--background2);
    border-radius: 6px;
    padding: 10px 20px;
    color: var(--font-primary);
    font-size: 18px;
    box-shadow: 0 1px 4px var(--box-shadow);
}
.news .content .more:hover{
    text-decoration: none;
    background-color: var(--background3);
}
.news .content .more.marked{
    background-color: var(--primary-background);
    color: var(--font-tertiary);
}
.news .content .more.marked:hover{
    background-color: var(--secondary);
}
.news .navigation .mobile-navigation{
    display: flex; 
    gap: 10px;
    padding: 5px 10px;
    width: 100%;
}
.news .navigation .mobile-navigation button{
    width: 100%;
    font-size: 18px;
}
@media screen and (max-width: 1675px) {
    .news .navigation .images{
        width: 720px;
        height: 410px;
    }
}
@media screen and (max-width: 1400px){
    .news{
        flex-direction: column;
    }
    .news .content .text{
        width: 100%;
        height: 225px;
    }
    .news .navigation .images{
        width: 100%;
        height: auto;
    }
}