.top{
    max-width: 750px;
}
.downloads{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.downloads .box{
    height: 500px;
}
.installation{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.installation-windows{
    flex-direction: row-reverse;
}
.installation .top{
    max-width: 700px;
}
@media screen and (max-width: 1700px) {
    .downloads, .installation{
        flex-direction: column;
    }
}